<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/employees/save}" th:object="${employeeEntity}" method="post">
    <div>
        <label for="firstName">Prénom:</label>
        <input type="text" id="firstName" th:field="*{firstname}" />
    </div>
    <div>
        <label for="lastName">Nom:</label>
        <input type="text" id="lastName" th:field="*{lastname}" />
    </div>
    <!-- Ajoutez d'autres champs pour les autres attributs de l'employé -->
    <div>
        <button type="submit">Ajouter</button>
    </div>
</form>

</body>
</html>