<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>
</head>
<body>
<div class="login-box">
    <p>Add employee </p>
    <form method="post" th:action="@{/employees/save}" th:object="${employeeEntity}">
        <div class="user-box">
            <input id="firstName" th:field="*{firstname}" type="text"/>
            <label for="firstName">First Name:</label>
        </div>
        <div class="user-box">
            <input id="lastName" th:field="*{lastname}" type="text"/>
            <label for="lastName">Name:</label>
        </div>
        <div class="user-box">
            <input id="birthDate" th:field="*{birthdate}" type="date"/>
            <label for="birthDate">Birthdate:</label>
        </div>
        <div>
            <input type="file" id="imageInput" accept="image/*">
            <div id="imageContainer"></div>
        </div>
        <div>
            <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>Ajouter
            </button>
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>