<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/styles/card.css}"/>
</head>
<body th:if="${employee}">


<div class="flex min-h-screen flex-row bg-gray-100 text-gray-800">

    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="my-24 bg-white relative shadow rounded-lg w-5/6 md:w-5/6  lg:w-4/6 xl:w-3/6 mx-auto">
        <div class="flex justify-center">
            <img alt=""
                 class="rounded-full mx-auto absolute -top-20 w-32 h-32 shadow-md border-4 border-white transition duration-200 transform hover:scale-110"
                 src=""
                 th:src="'data:image/jpeg;base64,' + ${employee.imageBase64}">
        </div>
        <div class="mt-16">
            <h1 class="font-bold text-center text-3xl text-gray-900" th:text="${employee.firstname}"></h1>
            <p class="text-center text-sm text-gray-400 font-medium">I work at </p>
            <p th:text="${companyConfGlobal.getCompanyName()}" class="text-center text-sm text-gray-400 font-medium"></p>
            <p>
                        <span>
                        </span>
            </p>
            <div class="w-full">
                <h3 class="font-medium text-gray-900 text-left px-6" th:text="${employee.employeeNumber}"></h3>
                <div class="mt-5 w-full flex flex-col items-center overflow-hidden text-sm">
                    <a class="w-full border-t border-gray-100 text-gray-600 py-4 pl-6 pr-3 w-full block hover:bg-gray-100 transition duration-150"
                       href="#">
                        <img alt="" class="rounded-full h-6 shadow-md inline-block mr-2"
                             th:src="'data:image/jpeg;base64,' + ${companyConfGlobal.getCompanyLogoBase64()}">
                        Lastname :
                        <span class="text-gray-500 text-xs" th:text="${employee.lastname}"></span>
                    </a>

                    <a class="w-full border-t border-gray-100 text-gray-600 py-4 pl-6 pr-3 w-full block hover:bg-gray-100 transition duration-150"
                       href="#">
                        <img alt="" class="rounded-full h-6 shadow-md inline-block mr-2"
                             th:src="'data:image/jpeg;base64,' + ${companyConfGlobal.getCompanyLogoBase64()}">
                        Birthdate :
                        <span class="text-gray-500 text-xs" th:text="${employee.birthdate}"></span>
                    </a>

                    <a class="w-full border-t border-gray-100 text-gray-600 py-4 pl-6 pr-3 w-full block hover:bg-gray-100 transition duration-150"
                       href="#">
                        <img alt="" class="rounded-full h-6 shadow-md inline-block mr-2"
                             th:src="'data:image/jpeg;base64,' + ${companyConfGlobal.getCompanyLogoBase64()}">
                        Phone Numbers :
                        <td>
                            <ul>
                                <li th:each="phoneNumber : ${employee.phoneNumbers}"
                                    th:text="${phoneNumber.countryCode + ' ' + phoneNumber.phoneNumber}"></li>
                            </ul>
                        </td>
                        <!--                            <span class="text-gray-500 text-xs" th:text="${employee.phoneNumbers}"></span>-->
                    </a>

                    <a class="w-full border-t border-gray-100 text-gray-600 py-4 pl-6 pr-3 w-full block hover:bg-gray-100 transition duration-150"
                       href="#">
                        <img alt="" class="rounded-full h-6 shadow-md inline-block mr-2"
                             th:src="'data:image/jpeg;base64,' + ${companyConfGlobal.getCompanyLogoBase64()}">
                        Work Email :
                        <span class="text-gray-500 text-xs" th:text="${employee.workEmail}"></span>
                    </a>

                    <a class="w-full border-t border-gray-100 text-gray-600 py-4 pl-6 pr-3 w-full block hover:bg-gray-100 transition duration-150 overflow-hidden"
                       href="#">
                        <img alt="" class="rounded-full h-6 shadow-md inline-block mr-2"
                             th:src="'data:image/jpeg;base64,' + ${companyConfGlobal.getCompanyLogoBase64()}">
                        Personal Email :
                        <span class="text-gray-500 text-xs" th:text="${employee.personalEmail}"></span>
                    </a>
                    <a class="w-full border-t border-gray-100 text-gray-600 py-4 pl-6 pr-3 w-full block hover:bg-gray-100 transition duration-150 overflow-hidden"
                       href="#">
                        <img alt="" class="rounded-full h-6 shadow-md inline-block mr-2"
                             th:src="'data:image/jpeg;base64,' + ${companyConfGlobal.getCompanyLogoBase64()}">
                        CIN numbers :
                        <span class="text-gray-500 text-xs" th:text="${employee.CIN}"></span>
                    </a>
                    <a class="w-full border-t border-gray-100 text-gray-600 py-4 pl-6 pr-3 w-full block hover:bg-gray-100 transition duration-150 overflow-hidden"
                       href="#">
                        <img alt="" class="rounded-full h-6 shadow-md inline-block mr-2"
                             th:src="'data:image/jpeg;base64,' + ${companyConfGlobal.getCompanyLogoBase64()}">
                        Address :
                        <span class="text-gray-500 text-xs" th:text="${employee.address}"></span>
                    </a>
                    <a class="w-full border-t border-gray-100 text-gray-600 py-4 pl-6 pr-3 w-full block hover:bg-gray-100 transition duration-150 overflow-hidden"
                       href="#">
                        <img alt="" class="rounded-full h-6 shadow-md inline-block mr-2"
                             th:src="'data:image/jpeg;base64,' + ${companyConfGlobal.getCompanyLogoBase64()}">
                        Hire Date :
                        <span class="text-gray-500 text-xs" th:text="${employee.hireDate}"></span>
                    </a>
                    <a class="w-full border-t border-gray-100 text-gray-600 py-4 pl-6 pr-3 w-full block hover:bg-gray-100 transition duration-150 overflow-hidden"
                       href="#">
                        <img alt="" class="rounded-full h-6 shadow-md inline-block mr-2"
                             th:src="'data:image/jpeg;base64,' + ${companyConfGlobal.getCompanyLogoBase64()}">
                        Resignation Date :
                        <span class="text-gray-500 text-xs" th:text="${employee.resignationDate}"></span>
                    </a>
                    <a class="w-full border-t border-gray-100 text-gray-600 py-4 pl-6 pr-3 w-full block hover:bg-gray-100 transition duration-150 overflow-hidden"
                       href="#">
                        <img alt="" class="rounded-full h-6 shadow-md inline-block mr-2"
                             th:src="'data:image/jpeg;base64,' + ${companyConfGlobal.getCompanyLogoBase64()}">
                        CNAPS numbers :
                        <span class="text-gray-500 text-xs" th:text="${employee.position}"></span>
                    </a>
                    <a class="w-full border-t border-gray-100 text-gray-600 py-4 pl-6 pr-3 w-full block hover:bg-gray-100 transition duration-150 overflow-hidden"
                       href="#">
                        <img alt="" class="rounded-full h-6 shadow-md inline-block mr-2"
                             th:src="'data:image/jpeg;base64,' + ${companyConfGlobal.getCompanyLogoBase64()}">
                        Children :
                        <span class="text-gray-500 text-xs" th:text="${employee.children}"></span>
                    </a>
                    <a class="w-full border-t border-gray-100 text-gray-600 py-4 pl-6 pr-3 w-full block hover:bg-gray-100 transition duration-150 overflow-hidden"
                       href="#">
                        <img alt="" class="rounded-full h-6 shadow-md inline-block mr-2"
                             th:src="'data:image/jpeg;base64,' + ${companyConfGlobal.getCompanyLogoBase64()}">
                        Sex :
                        <span class="text-gray-500 text-xs" th:text="${employee.sex}"></span>
                    </a>
                    <a class="w-full border-t border-gray-100 text-gray-600 py-4 pl-6 pr-3 w-full block hover:bg-gray-100 transition duration-150 overflow-hidden"
                       href="#">
                        <img alt="" class="rounded-full h-6 shadow-md inline-block mr-2"
                             th:src="'data:image/jpeg;base64,' + ${companyConfGlobal.getCompanyLogoBase64()}">
                        Category :
                        <span class="text-gray-500 text-xs" th:text="${employee.category}"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>