<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/list.css}"/>
</head>
<body>
<table class="container">
    <thead>
    <tr>
        <th><h1>ID</h1></th>
        <th><h1>Name</h1></th>
        <th><h1>First Name</h1></th>
        <th><h1>Birthdate</h1></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td>
            <a th:href="@{'/employees/' + ${employee.id}}">
                <!-- Remplacez '/employee/' par l'URL de votre page de destination -->
                <span th:text="${employee.id}"></span>
            </a>
        </td>
        <td>
            <a th:href="@{'/employees/' + ${employee.id}}">
                <span th:text="${employee.firstname}"></span>
            </a>
        </td>
        <td>
            <a th:href="@{'/employees/' + ${employee.id}}">
                <span th:text="${employee.lastname}"></span>
            </a>
        </td>
        <td>
            <a th:href="@{'/employees/' + ${employee.id}}">
                <span th:text="${employee.birthdate}"></span>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{'/employees/add'}"> Add </a>
</body>
</html>